*.iml
.gradle
.idea
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

# Project exclude paths
/ptr-lib/build/
/ptr-lib/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/